.btn {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
    margin-right: 0.4rem;
    background-color: rgb(223, 232, 254);
    /* border: rgb(0, 26, 81) 2px solid; */
    border: none;
    border-radius: 0.7em;
    color: rgb(0, 26, 81);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: rgb(6, 23, 60);
    color: #fff;
}
