@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Aqui estamos aplicando estilos em todo o nosso projeto */
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;  /* Previne rolagem horizontal */
  }
  
/*
    Por que utilizar a estrutura --main etc
    Ao estilizar dessa maneira, estou poupando o esforço
    de futuramente caso queira mudar as cores do tema ou
    algo do tipo não ter que trocar de elemento por elemento
    principalmente quando o código vai ficando cada vez maior
*/
:root {
    --mainColor: #ffffff;
    --mainsColorLight: #ffb672;
    --secondaryColor: #292929;
    --textColor: #150e00;
}

/*
    Como geralmente só utilizamos um componente Header, estilazamos todo ele aqui
    sem precisar criar classes, id nem nada do tipo
*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

/* Estilização dos links da nav - da barra de Navegação */
nav a {
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none; /* Retirar o estilo do link, o sublinhado, a cor azul tradicional etc */
    font-weight: 400;
}

/* Aqui estamos aplicando o estilo ao passar o mouse por cima do link */
nav a:hover {
    color: rgb(0, 56, 176);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer; /* Sempre que passar o mouse por cima do botão, ficará como clicável */
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;  /* Deixa de mostrar o elemento, ou seja, ele deixa de ser visível na página mas seu espaço continua ocupado, ou seja, o layout da página não é alterado por causa disto */
    opacity: 0;
    font-size: 1.8rem;
}

.logo {
    width: 4.5rem;
}

/* Para telas no tamanho máximo de 1024px terão as seguintes configurações */
@media only screen and (max-width: 1024px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
        z-index: 999; /* Adicione esta linha */
    }

    header .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }

    .logo {
        width: 4.5rem;
        left: 2rem;
        background-color: var(--mainColor);  
        padding-bottom: 10px;
        padding-top: 1rem;
    }


}